* {
  box-sizing: border-box;
}

@font-face {
  font-family: pop;
  src: url(../public/poppins/Poppins-Regular.ttf);
}

body{
  background-image: url(../public/bg-intro-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(0, 100%, 74%);
  display: flex;
  flex-direction: column;
  font-family: pop;
  align-items: center;

}

body::-webkit-scrollbar{
  display: none;
}

main{
  margin: 0 auto;
  margin-top: 10vh;
  margin-left: 10vw;
  width: 90vw;
  min-width: 674px;
  height: 80vh;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  min-height: 635px;
}

.everything{
  margin-top: 5%;
  width: 30%;
  min-width: 364px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

h1{
  text-align: left;
  max-width: 500px;
  font-size: 2.5rem;
}

.red{
  border-color: hsl(0, 100%, 74%) ;
}

span{
  color: hsl(0, 100%, 74%) ;
  margin-bottom: 5px;
  font-size: 68% ;
}


.container{
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 350px;
  height: 80%;
}

form{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  background-color: white;
  padding: 7%;
  border-radius: 15px;
}

.evertop{
  max-width: 500px;
  text-align: left;
}

.top{
  background-color: hsl(248, 32%, 49%);
  padding: 10px;
  text-align: center;
  width: 80%;
  border-radius: 5px;
  color: white;
}

.just{
  position: relative;
  content:url(../public/icon-error.svg);
  width: 5%;
  height: 5%;
  bottom: 30px;
  left: 90%;
  filter: opacity(2%);
}

.justerror{
  position: relative;
  content:url(../public/icon-error.svg);
  width: 5%;
  height: 5%;
  bottom: 30px;
  left: 90%;
  transition: 0.5s;
}

input{
  transition: border 0.5s;
  padding: 10px;
  border: 3px solid hsl(247, 52%, 90%);
  outline: none;
  border-radius: 10px;
  font-family: pop;
}

button{
  padding: 10px;
  border-radius: 5px;
  font-family: pop;
  border: none;
  background-color: hsl(154, 59%, 51%);
  font-weight: 600;
  color: white;
}

.bottom{
  font-size: 68%;
  color: hsl(246, 25%, 77%);
}

a{
  text-decoration: none;
  color:  hsl(0, 100%, 74%) ;
}

/*active*/
input:focus{
  border: 3px solid hsl(246, 25%, 77%);
}

button:hover{
  background-color: hsl(154, 59%, 70%);
  cursor: pointer;

}

.red:focus{
  border-color: hsl(0, 100%, 74%) ;
}

/*active*/


/*mobile*/

@media (max-width:700px){
  body{
    background-image: url(../public/bg-intro-mobile.png);
    overflow-x: hidden;
  }
main{
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 100vw;
  min-width: 0;
  /*border: 1px solid red;*/
  height: fit-content;
}

h1{
  text-align: center;
  font-size: 150%;
  width: 80%;
}
.evertop{
  text-align: center;
  font-size: 100%;
  width: 80%;
}

.everything{
  margin-bottom: 50px;
  min-width: 70%;
}

.container{
  align-items: center;
  min-width: 0;
  width: 100%;
  max-width: 650px;
}

button:active{
  background-color: hsl(154, 59%, 70%);
}

button:hover{
  background-color: hsl(154, 59%, 51%);
}

}

/*mobile*/